language: node_js
node_js:
  - '12.16.1'
install:
  - yarn install:all

cache:
  yarn: true
  directories:
    - node_modules
    - ~/.cache

before_deploy:
  - yarn build:client
  - yarn post_build:copy

deploy:
  - provider: cloudfoundry
    username: $PWS.USER
    password: $PWS.PASSWORD
    api: https://api.run.pivotal.io
    organization: digital-coe
    space: leaver-app
    on:
      branch: master
script:
  - echo "skipping tests"
