<html>
  <body>
    <div style="margin: 24px; text-align: center">
      <h4
        style="margin: 0; font-size: 24px; font-weight: 400; display: inline-block; max-width: 500px; text-align: center"
      >
        Welcome {{name}}!
      </h4>
      <h4
        style="margin: 0; font-size: 24px; font-weight: 400; display: inline-block; max-width: 500px; text-align: center"
      >
        You've been invited to Vodafone Outsource Leaver App , please follow the
        link below to set your password.
      </h4>
    </div>

    <div style="margin: 24px; text-align: center">
      <p
        style="margin: 0; display: inline-block; max-width: 500px; text-align: center"
      >
        Use your credentials to login to the Vodafone Outsource Leaver App.
      </p>
    </div>

    <div style="margin: 24px; text-align: center">
      <a
        href="{{signupUrl}}"
        style=" background-color: #e60000; border-radius: 4px; color: white; letter-spacing: 0.8px; max-width: 500px; padding: 18px 54px; text-align: center; text-decoration: none; text-transform: uppercase;display: inline-block"
      >
        Signup
      </a>
    </div>
    <div style="margin: 24px; text-align: center">
      <p
        style="margin: 0; display: inline-block; max-width: 500px; text-align: center"
      >
        If you have any problem or questions, feel free to email us on
        <a
          href="mailto:tamer.shabayek@vodafone.com"
          style=" color: #e60000; text-decoration: none"
        >
          tamer.shabayek@vodafone.com
        </a>
      </p>
    </div>

    <div>
      <p style="margin: 0">
        <a
          href="mailto:tamer.shabayek@vodafone.com"
          style=" color: #e60000; text-decoration: none"
        >
        </a>
      </p>
    </div>
  </body>
</html>
