.ast-page {
    background: #f9f9f9;
    font-family: sans-serif;
    padding: 75px;
}

/******** header********/
.ast-page .ast-header {
    margin-top: 30px;
    text-align: start;
    font-weight: bolder;
    font-size: 25px;
}


.ast-page .ast-data {
    padding: 15px;
}

/******** Table Styles********/
.ast-page  .ast{
    background: white;
    border-collapse: collapse;
    border-radius: 10px;
}

.ast th {
    color: black;
    border-top: none;
    font-weight: bold;
}

.ast tr {
    border-bottom: 1px solid #eee;
    height: 40px;
}

.ast tbody tr:hover {
    background: #f8d5d5;
    font-weight: bold;
}

.ast td {
    padding: 10px 10px 10px;
}

#done {
    color: green;
    text-transform: uppercase;
}

#pending {
    color: #bd0100;
    text-transform: uppercase;
}

.del-btn {
    border-radius: 10px;
    background: #bd0100;
    border: none;
}

.del-btn:hover {
    background: grey;
}

.del-btn:focus {
    background: #bd0100;
}

.del-btn:disabled {
    background: #bd0100;
}

.del-btn:disabled:hover{
    background: grey;
}

#view-detail {
    color: #bd0100;
    background: none;
    border-radius: 40px;
    border: 1px solid #bd0100;
    width: 100px;
}

#view-detail:hover {
    color: white;
    background: #bd0100;
    border: none;
}

.ast thead tr:first-child {
    height: 60px;
}

.ast thead {
    border-bottom: 1px solid #eee;
}

.ast tr:last-child{
    border-bottom: none;
}

.ast td:first-child, .ast th:first-child {
    border-left: none;
}



/******** AST Detail Page Styles********/
.ast-page .leaver-info {
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    margin-top: 30px;
}

.info-title {
    font-size: 20px;
    font-weight: bold;
    color: #bd0100;
    margin-bottom: 20px;
    padding: 10px;
}

.ast-page .leaver-info .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.ast-page .leaver-info .info .info-line {
    display: flex;
    flex-direction: row;
    padding: 10px;
}


.info-key {
    font-weight: bold;
}

.info-value {
    font-weight: lighter;
}

.item {
    display: flex;
    flex-direction: row;
}

.spaced {
    margin-left: 80px;
}

#entry-data {
    margin: 40px 10px 10px 10px;
}

.wide {
    display: inline-block;
    width: 350px;
}

.separate {
    display: inline-block;
    margin-left: 320px;
    width: 100px;
}

.submission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.submit-btn {
    background: #bd0100;
    border: none;
    font-weight: bold;
    width: 500px;
    height: 40px;
}

.submit-btn:hover {
    background: green;
    border: none;
}

.submit-btn:focus {
    background: purple;
    border: none;
}