#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #resignations {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #resignations td, #resignations th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #resignations tr:nth-child(even){background-color: #f2f2f2;}
  
  #resignations tr:hover {background-color: #ddd;}
  
  #resignations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  label,
input {
    display: block;
    width: 100%;
}

input {
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 1px;
    border: 1px solid #ddd;
}